<!-----------------------------Education--------------------------->
<h3 class="section-title">Education</h3>
<dl class="education">
    {% for edu in site.data.education %}
        <dt>
            <p class="title">{{ edu.title }}</p>
            <p class="company">{{ edu.sub_title }}</p>
            <p class="period">{{ edu.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ edu.description }}</p>
        </dd>
    {% endfor %}
</dl>
<!-----------------------------Research Interest--------------------------->
<h3 class="section-title">Research Interest</h3>
<dl class="research_interest">
    {% for interests in site.data.research_interest %}
        <dt>
        </dt><!--
        --><dd>
            <p>{{ interests.description }}</p>
        </dd>
    {% endfor %}
</dl>
<!-----------------------------Publication--------------------------->
<h3 class="section-title">Publication</h3>
<dl class="publication">
    {% for pub in site.data.publication %}
        <dt>
            <p class="title">{{ pub.title }}</p>
            <p class="company">{{ pub.sub_title }}</p>
            <p class="period">{{ pub.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ pub.description }}</p>
        </dd>
    {% endfor %}
</dl>
<!-----------------------------Conference--------------------------->
<h3 class="section-title">Conference</h3>
<dl class="conference">
    {% for conf in site.data.conference %}
        <dt>
            <p class="title">{{ conf.title }}</p>
            <p class="company">{{ conf.sub_title }}</p>
            <p class="period">{{ conf.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ conf.description }}</p>
        </dd>
    {% endfor %}
</dl>
<!-----------------------------Research Experience--------------------------->
<h3 class="section-title">Research Experience</h3>
<dl class="education">
    {% for proj in site.data.research_experience %}
        <dt>
            <p class="title">{{ proj.title }}</p>
            <p class="company">{{ proj.sub_title }}</p>
            <p class="period">{{ proj.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ proj.description }}</p>
        </dd>
    {% endfor %}
</dl>
<!-----------------------------Work Experience--------------------------->
<h3 class="section-title">Work Experience</h3>
<dl class="education">
    {% for proj in site.data.work_experience %}
        <dt>
            <p class="title">{{ proj.title }}</p>
            <p class="company">{{ proj.sub_title }}</p>
            <p class="period">{{ proj.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ proj.description }}</p>
        </dd>
    {% endfor %}
</dl>
<!-----------------------------Teaching Experience--------------------------->
<h3 class="section-title">Teaching Experience</h3>
<dl class="education">
    {% for proj in site.data.teach_experience %}
        <dt>
            <p class="title">{{ proj.title }}</p>
            <p class="company">{{ proj.sub_title }}</p>
            <p class="period">{{ proj.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ proj.description }}</p>
        </dd>
    {% endfor %}
</dl>
<!-----------------------------Award--------------------------->
<h3 class="section-title">Award</h3>
<dl class="education">
    {% for qualification in site.data.education %}
        <dt>
            <p class="title">{{ qualification.qualification }}</p>
            <p class="company">{{ qualification.school }}</p>
            <p class="period">{{ qualification.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ qualification.description }}</p>
        </dd>
    {% endfor %}
</dl>
<!-----------------------------Skill--------------------------->
<h3 class="section-title">Skill</h3>
<dl class="education">
    {% for qualification in site.data.education %}
        <dt>
            <p class="title">{{ qualification.qualification }}</p>
            <p class="company">{{ qualification.school }}</p>
            <p class="period">{{ qualification.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ qualification.description }}</p>
        </dd>
    {% endfor %}
</dl>